html {
    font-size: 62.5%;
}

body {
    margin: 0;
}
/* PHONES */
@media (max-width: 640px) {
    /* HEADER */
    .header {
        position: relative;

        width: 100%;

        background-image: url(../images/football_767.jpg);
        background-repeat: no-repeat;
        background-position: center 50%;
        background-color: #000000;
        background-size: cover;

        color: #FFFFFF;
    }

    .header::after  {
        content: "";

        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background-color: rgba(6, 16, 46, 0.85);  
    }

    .container {
        position: relative;

        z-index: 1;
    }

    .logo {
        width: 135px;
        margin: auto;
        padding-top: 35px;
    }

    .logo-icon {
        height: 36px;
        fill: #FFFFFF;
    }

    .title {
        padding-top: 140px;
        padding-left: 2rem;
        padding-right: 2rem;

        text-transform: uppercase;
    }

    .title-right {
        display: block;

        margin-top: 3rem;
        margin-left: 6.5rem;
    }

    .app {
        padding-top: 9rem;
        padding-right: 2rem;
        padding-bottom: 9rem;
        padding-left: 2rem;
    }

    .app-button {
        width: 100%;
        height: 35px;

        background-color: #5e42b0;
        border: none;
        border-radius: 18px;

        color: #FFFFFF;
        text-transform: uppercase;
    }

    .app-button:nth-child(n + 2) {
        margin-top: 15px;
    }

    .brand-logo-icon {
        height: 20px;
        fill: #FFFFFF;
    }

    .app-button-next-text {
        display: block;
    }
    /* END HEADER */

    /* ATHLETS */
    .athlets, .players { /*Заменить на 1 класс?*/
        padding-top: 25px;
        padding-right: 20px;
        padding-bottom: 75px;
        padding-left: 20px;
    }

    .sportsman-title, .benefit-title {
        color: #e7e7e7;
        text-transform: uppercase;
    }

    .sportsman-img {
        display: block;
        margin: 0 auto; 
    }

    .benefit {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .athlets .benefit:first-child {
        color: red;
    }

    /* .athlets .benefit:nth-child(2) {
        background-color: #120b2e;
    } */

     .benefit-title-number {
        margin-right: 8px;

        border-radius: 2px;
        
        color: #000000;
        font-weight: bold;
        border-bottom: 2px solid #5e42b0;
     }

     .athlets .benefit:last-child {
        background-color: #5e42b0;
     }

     .athlets .benefit:last-child .benefit-title-number {
        border-bottom: 2px solid #FFFFFF;
     }

     .players .benefit:last-child {
         background-color: #090c35;
     }

     .players .benefit:last-child .benefit-title-number {
        color: #FFFFFF;
     }

     .players .benefit:last-child .benefit-discription {
        color: #FFFFFF;
     }
}