@font-face {
    font-family: "Open Sans";
    src: url('./fonts/OpenSans-Regular.ttf') format('ttf'),
        url('./fonts/OpenSans-Regular.woff') format('woff'),
        url('./fonts/OpenSans-Regular.woff2') format('woff2')
}

@font-face {
    font-family: "Open Sans";
    src: url('./fonts/OpenSans-Bold.ttf') format('ttf'),
        url('./fonts/OpenSans-Bold.woff') format('woff'),
        url('./fonts/OpenSans-Bold.woff2') format('woff2');
    font-weight: bold;
}

html {
    font-size: 62.5%;
}

body {
    margin: auto;
    font-family: 'Open Sans';
    min-width: 320px;
    max-width: 1920px;
}

/* PHONES */


/* HEADER */
.header {
    position: relative;

    width: 100%;

    background-image: url(../images/football_767.jpg);
    background-repeat: no-repeat;
    background-position: center 50%;
    background-color: #000000;
    background-size: cover;

    color: #FFFFFF;
}

.header::after {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(6, 16, 46, 0.9);
}

.container {
    position: relative;

    z-index: 1;
}

.logo-text {
    width: 135px;
    margin: auto;
    padding-top: 35px;
}

.logo-text-icon {
    fill: #FFFFFF;
}

.title {
    /* display: flex;
    flex-direction: column; */

    /* width: 20rem; */

    margin-top: 7rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 0;

    text-transform: uppercase;
}

.title span {
    display: block;
}

.title-right {
    text-align: right;
}


.app {
    padding-top: 8rem;
    padding-right: 2rem;
    padding-bottom: 8rem;
    padding-left: 2rem;
}

.app-link {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 4rem;

    background-color: #5e42b0;
    border-radius: 3rem;

    color: #FFFFFF;
    font-size: 0.8rem;
    text-transform: uppercase;
    text-decoration: none;
}

.app-link:nth-child(n + 2) {
    margin-top: 15px;
}

.brand-logo-icon {
    height: 2.5rem;
    margin-right: 10px;
    fill: #FFFFFF;
}

.app-link-next-text {
    width: 8rem;
    font-weight: bold;
}

/* END HEADER */

/* SPORTSMEN */

.sportsman-title,
.benefit-title {
    color: #e7e7e7;
    text-transform: uppercase;
}

.sportsman-title {
    margin-top: 25px;
    margin-left: 20px;

    font-size: 5rem;
}

.sportsman-img {
    display: block;
    margin: 0 auto;
}

.benefits {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.benefit {
    padding-top: 60px;
    padding-right: 20px;
    padding-bottom: 60px;
    padding-left: 20px;

}

.benefit-title {
    display: flex;
    align-items: center;

    font-size: 2.3rem;
    letter-spacing: 0.08rem;
}

.benefit-title-number {
    margin-right: 8px;

    border-bottom: 2px solid #5e42b0;
    border-radius: 2px;

    color: #000000;
    font-size: 1.4rem;
}

.benefit-discription {
    font-size: 1.5rem;
    letter-spacing: 0.08rem;
}

.benefit:nth-child(1) {
    background-color: #fafafa;
}

.benefit:nth-child(2) {
    background-color: #f5f4f9;
}

.athlets .benefit:last-child {
    background-color: #5e42b0;
}

.benefit:last-child .benefit-discription {
    color: #FFFFFF;
}

.benefit:last-child .benefit-title-number {
    border-bottom: 2px solid #FFFFFF;
}

.players .benefit:last-child {
    background-color: #090c35;
}

.players .benefit:last-child .benefit-title-number {
    color: #8765dd;
}

/* END SPORTSMEN */

/* ARTICLES */

.article-title,
.article-description {
    padding-left: 2rem;
    padding-right: 2rem;

    letter-spacing: 0.09rem;
}

.article-img {
    width: 100%;
}

.article-container {
    position: relative;
}

.article-title {
    margin-top: 3rem;
    margin-bottom: 2.5rem;

    color: #e7e7e7;
    font-size: 2.8rem;
    text-transform: uppercase;
}

.article-number {
    position: absolute;
    top: -9rem;
    left: 2rem;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    width: 7rem;
    height: 7rem;

    background-color: #5e42b0;

    font-size: 1.4rem;
    font-weight: bold;
    color: #e7e7e7;
}

.article-number::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 30%;
    transform: translateX(-50%);

    width: 1.5rem;
    height: 0.4rem;

    background-color: #8f7bc8;
    border-radius: 5px;
}

.article-description {
    margin-top: 0;
    margin-bottom: 80px;

    font-size: 1.6rem;
}

/* END ARTICLES */

/* FOOTER */

.footer {
    position: relative;

    width: 100%;
    padding-top: 10rem;
    padding-bottom: 1rem;

    background-image: url(../images/game_767.jpg);
    background-repeat: no-repeat;
    background-position: center 50%;
    background-color: #000000;
    background-size: cover;

    color: #FFFFFF;
}

.footer::after {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(6, 16, 46, 0.9);
}

.app-logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    width: 8rem;
    height: 8rem;

    margin-right: auto;
    margin-left: auto;

    background-color: #553ba2;

    border-radius: 20px;
}

.app-logo-icon {
    height: 50px;
    fill: #FFFFFF;
}

.footer-title {
    margin-top: 5.5rem;
    margin-right: 2rem;
    margin-bottom: 0;
    margin-left: 2rem;

    font-size: 3.2rem;
    text-transform: uppercase;
    text-align: center;
}

.footer-title-descr {
    margin: 0;

    color: #9b8ec1;
    font-size: 1.4rem;
    text-transform: uppercase;
    text-align: center;
}

.footer .app {
    padding-top: 7.5rem;
    padding-bottom: 8rem;
}

.footer .logo-text {
    padding-top: 0;
}

/* END FOOTER */
/*END PHONES*/

/*TABLETS*/

@media (min-width: 641px) {

    /* HEADER */
    .logo-text {
        width: 20rem;
        padding-top: 4rem;
    }

    .title {
        /* width: 66rem; */

        margin-top: 11.5rem;
        margin-right: 7rem;
        margin-left: 9rem;

        font-size: 6.4rem;
    }

    .app {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        padding-top: 30rem;
        padding-right: 5rem;
        padding-bottom: 9rem;
        padding-left: 5rem;
    }

    .app-link {
        flex-direction: row;
        align-items: center;

        width: 45%;
        height: 8rem;

        border-radius: 5rem;

        font-size: 1.4rem;
    }

    .app-link:nth-child(n + 2) {
        margin-top: 0;
        margin-left: 3rem;
    }

    .brand-logo-icon {
        height: 4.5rem;
    }

    /* END HEADER */

    /* SPORTSMEN */

    .athlets,
    .players {
        margin-top: 9rem;
        position: relative;
    }

    .sportsman-img {
        position: absolute;
        top: 0;
    }

    .athlets .sportsman-img {
        left: -15rem;
    }

    .sportsman-title {
        margin: 0;

        font-size: 8rem;
    }

    .athlets .sportsman-img {
        margin-left: -130px;
        /* height: 588px; */
    }

    .athlets .benefit,
    .athlets .sportsman-title {
        padding-left: 293px;
    }

    .benefit {
        padding-top: 4.5rem;
        padding-bottom: 4.5rem;
    }

    .benefit:first-child {
        padding-top: 6rem;
    }

    .benefit-title {
        margin: 0;
        font-size: 3.2rem;
    }

    .benefit-discription {
        font-size: 1.6rem;
    }

    .players .sportsman-img {
        display: inline-block;
        right: 0;
    }

    .players .benefit {
        padding-right: 293px;
        padding-left: 3rem;
    }

    .players .sportsman-title {
        padding-left: 3rem;
    }

    /* END SPORTSMEN */

    /* ARTICLES */

    .article-number {
        top: -125px;
        left: 3rem;

        width: 12rem;
        height: 12rem;
    }

    .article-number::after {
        width: 3rem;
        height: 0.5rem;
    }

    .article-title {
        font-size: 8rem;
    }

    .article-number,
    .article-description {
        font-size: 2.4rem;
    }

    .article-title,
    .article-description {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    /* END ARTICLES */

    /* FOOTER */

    .footer {
        padding-top: 13rem;
        padding-bottom: 2.5rem;
    }

    .app-logo {
        width: 14rem;
        height: 14rem;
    }

    .app-logo-icon {
        height: 9rem;
    }

    .footer-title {
        margin-top: 8.5rem;

        font-size: 8rem;
        letter-spacing: 0.35rem;
    }

    .footer-title-descr {
        font-size: 3.6rem;
    }

    .footer .app {
        padding-top: 29rem;
        padding-bottom: 6rem;
    }

    /* END FOOTER */
}

/* END TABLETS */

/* DESkTOP */
@media (min-width: 961px) {

    /* HEADER */

    .header {
        background-image: url(../images//football_1280.jpg);
    }

    .logo-text {
        width: 19rem;
        padding-top: 4rem;
    }

    .title {
        /* width: 153rem; */
        margin-top: 29rem;

        font-size: 9rem;
    }

    .app {

        display: flex;
        justify-content: center;

        padding-top: 22.5rem;
        padding-bottom: 11rem;
    }

    .app-link {
        width: 31rem;
        height: 8rem;

        border-radius: 5rem;

        font-size: 1.4rem;
    }

    .app-link:nth-child(n + 2) {
        margin-top: 0;
        margin-left: 5rem;
    }

    .brand-logo-icon {
        height: 5rem;
    }

    /* END HEADER */

    /* SPORTSMEN */

    .athlets .sportsman-title,
    .athlets .benefit {
        padding-left: 50vw;
    }

    .athlets .sportsman-img {
        top: -7rem;
        left: auto;
        right: 50vw;

        margin: 0;
    }

    .players {
        overflow: hidden;
    }

    .players .sportsman-title,
    .players .benefit {
        padding-left: 19.3rem;
    }

    .players .benefit-discription {
        width: 50vw;
    }

    .players .sportsman-img {
        top: -30px;
        /* left: calc(50% - 407px); */

        margin: 0;
    }

    .benefit-title {
        font-size: 3.6rem;
    }

    .benefit-discription {
        font-size: 2rem;
    }

    .benefit-title-number {
        font-size: 1.8rem;
    }

    /* END SPORTSMEN */

    /* ARTICLES */

    .article {
        display: flex;
    }

    picture,
    .article-container {
        width: 50%;
    }

    .article:nth-child(even) picture {
        order: 1;
    }

    .article-title {
        margin-top: 23rem;
        margin-bottom: 7rem;

        padding-top: 20px;
        padding-left: 13rem;
    }

    .article-number {
        left: -9rem;
        top: 24rem;

        width: 17rem;
        height: 15.5rem;
    }

    .article-number::after {
        width: 3rem;
        height: 0.5rem;
    }

    .article:nth-child(even) .article-number {
        left: auto;
        right: -9rem;
    }

    .article-description {
        padding-left: 13rem;
    }


    /* END ARTICLES */

    /* FOOTER*/

    .footer {
        background-image: url(../images//game_1920.jpg);
        padding-top: 23rem;
        padding-bottom: 5rem;
    }

    .footer-title-container {
        display: flex;
        justify-content: center;
    }

    .app-logo,
    .footer-title {
        margin: 0;
    }

    .footer-title-text-container {
        display: flex;
        flex-direction: column;
        padding-left: 3.5rem;

        line-height: 1.2;
    }

    .footer-title {
        text-align: left;
    }

    .footer-title-descr {
        font-size: 3rem;
        text-align: left;
    }

    .app {
        padding-top: 22.7rem;
        padding-bottom: 11.5rem;
    }

    /* END FOOTER*/
}